<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mcxtzhang.commonviewgroupadapter">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".viewgroup.scrollview.ScrollViewDemoActivity">
        </activity>
        <activity android:name=".viewgroup.linearlayout.LinearLayoutActivity">
        </activity>
        <activity android:name=".viewgroup.multype.MulTypeActivity">
        </activity>
        <activity android:name=".viewgroup.multype.mulbean.MulTypeMulBeanActivity">
        </activity>
        <activity android:name=".viewgroup.flowswipe.FlowSwipeActivity">
        </activity>
        <activity android:name=".rv.RvSingleActivity">
        </activity>
        <activity android:name=".lvgv.ListViewSingleActivity">
        </activity>
        <activity android:name=".databinding.rv.single.DBSingleActivity">
        </activity>
        <activity android:name=".databinding.rv.multype.DBMultypeSingleItemActivity">
        </activity>
        <activity android:name=".databinding.rv.multype.mulbean.DBMulTypeMulBeanActivity">
        </activity>
        <activity android:name=".databinding.viewgroup.DBFlowSwipeActivity">
        </activity>
        <activity android:name=".rv.mul.RvMulTypeMulBeanActivity">
        </activity>
        <activity android:name=".viewgroup.fakergrid.FakerGridViewActivity">
        </activity>
        <activity android:name=".rv.header.RvHeaderFooterActivity">
        </activity>
        <activity android:name=".lvgv.GridViewActivity">
        </activity>
        <activity android:name=".rv.header.RvHeaderMulTypeActivity">
        </activity>
    </application>

</manifest>